<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="MongoDB" connectionString="mongodb://username:password@host/database?authMechanism=GSSAPI;authSource=db;ipv6=true;ssl=true;sslVerifyCertificate=false;connect=replicaSet;replicaSet=name;readPreference=secondary;readPreferenceTags=dc:1;fsync=true;journal=true;w=2;wtimeout=9s;connectTimeout=1s;maxIdleTime=2s;maxLifeTime=3s;maxPoolSize=4;minPoolSize=5;secondaryAcceptableLatency=6s;socketTimeout=7s;waitQueueSize=123;waitQueueTimeout=8s;uuidRepresentation=pythonLegacy" />-->
    <add name="TestDBContext" connectionString="mongodb://localhost:28000/TestMongo"/>

    <add name="FactoryDBContext" connectionString="mongodb://localhost:28000/Factory"/>
    <add name="CompanyDBContext" connectionString="mongodb://localhost:28000/Company"/>
  </connectionStrings>
</configuration>